* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


.container.index {
    text-align: center;
    background-image: url(./assets/img/descarga.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}
#sticky-footer {
    background-color: black;
    color: red;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}   
.container-footer {
    background-color: #000000;
}
small {
    font-size: 12px;
    color:white;
}

#background-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-image: url(./assets/img/Nintendo_Entertainment_System_logo.webp);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    z-index: -1;
}
#background-left-SEGA {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-image: url(./assets/img/sega_logo_side.webp);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    z-index: -1;
}
#background-right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-image: url(./assets/img/Nintendo_Entertainment_System_logo.webp);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    z-index: -1;
}
#background-right-SEGA {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-image: url(./assets/img/sega_logo_side.webp);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    z-index: -1;
}


body {
    padding: 20px;
    margin: 0;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;

}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.form-container {
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    gap: 10px;
}

#buscador,
#orden-desplegable,
#restablecer-btn {
    flex: 1;
}

.container {
    border: 10px solid #000000;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
}


.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin-bottom: 5px;
}

#restablecer-btn {
    margin-top: 10px;
}
nav {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #23527c;
}
.contador-busquedas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 10px;
    color: red;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
    white-space: nowrap;
}
.reseña {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.reseña h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.reseña p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}